<div class="side-header">
  <div class="side-name">
  <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat-create"><a href="#">チャットを作成する</a></div>
</div>

<div class="side-main">
  <div class="room">
    <div class="room-name"><a href="#">あいうえお</a></div>
  </div>
  <div class="room">
    <div class="room-name"><a href="#">かきくけこ</a></div>
  </div>  
</div>