/* 大枠 */
.wrapper{
  display: flex;
}

/* サイド */
.side{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}
.side-header{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}
.chat-create a{
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
  border: solid 1px lightblue;
  padding: 14px;
}
.side-main{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}
.room{
  padding: 20px 40px;
}
.room-name a{
  color: white;
  text-decoration: none;
}

/* チャット */
.chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}
.chat-header{
  height: 100px;
  padding: 0 40px;
}
.chat-message{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}
.chat-footer{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}
